.heading {
    padding-bottom: 5px;
    font-weight: 500;
}

.btn {
    margin-bottom: 15px;
}

h1 {
    font-size: 60px;
    padding-bottom: 30px;
}

#formcontainer {
    border-radius: 5px;
    background-color: #e9ecef;
}

h3 {
    padding-top: 15px;
}

.tableButton {
    font-size: 20px;
}

.reservationButton {
    font-size: 20px;
}


a {
    font-size: 15px;
}

#current{
    background-color: #e9ecef; 
}

#waiting{
    background-color: #e9ecef;
}